[submodule "uczlm97/www/js"]
	path = uczlm97/www/js
	url = https://github.com/GEOGMLIU/uczlm97_jsReference
[submodule "uczlm97/www/css"]
	path = uczlm97/www/css
	url = https://github.com/GEOGMLIU/uczlm97_cssReference
[submodule "uczlm97/www/images"]
	path = uczlm97/www/images
	url = https://github.com/GEOGMLIU/uczlm97_imagesReference
